*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
a{
    text-decoration: none;
}
.bg_grey{
    background-color: $light_grey;
}
.m-0{
    margin: 0;
}
.p-0{
    padding: 0;
}
.mr-5{
    margin-right: 5px;
}
.mr-10{
    margin-right: 10px;
}
.ml-5{
    margin-left: 5px;
}
.ml-10{
    margin-left: 10px;
}

// Container & Container Fluid
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .container {
        // max-width: 540px;
        max-width: 560px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

// Row & Columns
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
.col-vc {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

// ALignment
.align-items-center{
     align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.text-center{
    text-align: center;
}

// Image
.img-setting {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
