$black: #000;
$white: #fff;

$primary_color: #cfb995;

$red: #ff5b5b;
$orange: #ff915b;
$light_orange: #ffbe5b;
$yellow: #ffdf5b;
$parrot: #8fe360;
$green: #57e690;
$blue: #57dbe6;

$trending: #f3a536;
$popular: #36aef3;
$epic: #f33636;
$like: #68b680;
$dislike: #ff3750;

$body_color: #303030;
$dark_grey: #5e5e5e;
$grey: #d1d1d1;
$light_grey: #f9f9f9;